---
import Page from "../components/Page.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";

const title = "Articles";
const description = "Tate Thurston's articles.";

// Use Astro.glob to fetch all post with associated frontmatter
const unsortedPosts = await Astro.glob("./posts/*.md");
const posts = unsortedPosts.sort(function (a, b) {
	return (
		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
});
---

<Page title={title} description={description}>
  <main>
    <section aria-label="Article list">
      {posts.map(({ url, frontmatter }) => (
        <BlogPostPreview
          title={frontmatter.title}
          description={frontmatter.description}
          publishDate={frontmatter.publishDate}
          url={url}
        />
      ))}
    </section>
</Page>
