---
import Page from "../components/Page.astro";
import PostPreview from "../components/PostPreview.astro";

const title = "Projects";
const description = "Tate Thurston's projects.";

const unsortedPosts = await Astro.glob("./projects/*.md");
const posts = unsortedPosts.sort(function (a, b) {
	return (
		new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
	);
});
---

<Page title={title} description={description}>
  <section aria-label="Project list">
    {posts.map(({ url, frontmatter }) => (
      <PostPreview
        title={frontmatter.title}
        description={frontmatter.description}
        publishDate={frontmatter.publishDate}
        url={url}
      />
    ))}
  </section>
</Page>
