---
import Page from "../components/Page.astro";

export interface Props {
	content: {
		title: string;
		description: string;
    keywords: string;
		publishDate?: string;
	};
}

const {
	content: { title, description, keywords, publishDate },
} = Astro.props as Props;
---

<Page title={title} description={description} keywords={keywords}>
  <header>
    <h1>{title}</h1>
    {publishDate && <time>{publishDate}</time>}
  </header>
  <slot></slot>
</Page>
